/*---Fonts---*/

@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600;700;800;900&display=swap');

/*---general---*/
html{
    background-image: linear-gradient(to right, blue , grey);
}

.brand-logo{
    font-family: "Orbitron", sans-serif;
    font-weight: 600;
    margin: 10px;
}

.navbar, .category-title {
    font-family: "Orbitron", sans-serif;
    font-weight: 400;
    color: lightgrey;
}

.text-shadow {
    text-shadow: 2px, 2px, 2px rgba(0, 0, 0, 0.5);
}

.flashes h4 {
    line-height: 2;
}

/*---index.html---*/

.hero-image-container{
    padding-top: 20px;
    min-width: 100%;
    margin-bottom: 0;
}

#hero-image{
    width: 60%;
    margin-left: 20%;
}

.game-thumbnail{
    width: 240px;
    height: 240px;
}
@media only screen and (min-width: 993px) {
    .game-thumbnail{
    width: 200px;
    height: 200px;
}
}



.thumbnail-title{
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    size: xx-small;
    padding: 0;
    margin: 0;
}
.thumbnail-title:hover {
    background-color: rgba(57, 57, 134, .7);
}

/*---games.html---*/
.game-card{
    height: 800px;
}

.search-bar{
    padding: 10px;
    text-align: center;
}

#search-title{
    font-family: "Orbitron", sans-serif;
    font-weight: 400;

}

@media only screen and (min-width: 601px) {
    .game-card{
    height: 700px;
}
}

@media only screen and (min-width: 993px) {
    .game-card{
    height: 650px;
}
}

.games-card-title{
    text-align: center;
    font-family: "Orbitron", sans-serif;
    font-weight: 400;
    background-color: rgba(38, 62, 81, 0.7);
    margin-top: 0;
    padding: 20px;
    color: white;
}

.game-card-image{
    object-fit: cover;
    width: 100%;
    max-height: 300px;
    overflow: hidden;
}

.card-action{
    margin: 0;
}

.card-button{
    display: flex;
    justify-content: center;
    margin: 4px auto;
}


.container {
  margin: 4% 7%;
  width: 86%;
}

.search-bar{
    width: 80%;
    margin: 4% 10%;
    border-radius: 20px;
}



/*----forms----*/

.form-background{
    min-width: 100%;
    padding: 5% 10%;
}
@media only screen and (min-width: 993px) {
    .form-background{
        padding: 8% 20%;
    }
}
.card-panel{
    border-radius: 20px;
}

/*---game details.html---*/

.details-card{
    width: 80%;
    margin: 0 auto;
}
