/*---Fonts---*/

/*---general---*/

html{background-color: rgb(60, 60, 60);}

.text-shadow {
    text-shadow: 2px, 2px, 2px rgba(0, 0, 0, 0.5);
}

.flashes h4 {
    line-height: 2;
}

/*---index.html---*/

.hero_image_container{
    background-image: linear-gradient(to right, blue , grey);
}

#hero_image{
    width: 60%;
    margin-left: 20%;
}

.card-title{
    padding-left: 20px;
}

/*---games.html---*/

.container {
  margin: 5%;
  width: 90%;
}

.search-bar{
    border-radius: 20px;
}

.game-card{
    height: 800px;
}

@media only screen and (min-width: 601px) {
    .game-card{
    height: 700px;
}
}

@media only screen and (min-width: 993px) {
    .game-card{
    height: 650px;
}
}

