{% extends "base.html" %}
{% block content %}
    <div class="form-background">
        <div class="row card-panel grey lighten-5">
            <h3 class="form-title center-align">Edit Genre</h3>
            <form class="col s12" method="POST" action="{{ url_for('edit_genre', genre_id=genre._id) }}">
                
                <!-- genre_name -->
                <div class="row">
                    <div class="input-field col s12">
                        <i class="fas fa-pencil-alt prefix blue-text text-darken-4"></i>
                        <input id="genre_name" name="genre_name" value="{{ genre.genre_name }}" type="text" class="validate" required>
                        <label for="genre_name">Genre Name</label>
                    </div>
                </div>
                
                <!-- buttons -->
                <div class="row">
                    <div class="col s12 center-align">
                        <a href="{{ url_for('genres') }}" class="btn-large grey edit-genre-btn darken-4">
                            Cancel
                        </a>
                        <button type="submit" class="btn-large blue edit-genre-btn darken-4">
                            Edit Genre
                        </button>
                        <a class="btn-large red edit-genre-btn darken-4 modal-trigger" href="#delete-genre-modal">
                            Delete
                        </a>

                        <!-- modal -->
                        <div id="delete-genre-modal" class="modal">
                            <div class="modal-content">
                                <h4 class="form-title">Are you sure?</h4>
                                <p>This content cannot be restored once it has been deleted</p>
                            </div>
                            <div class="modal-footer">
                                <a href="#!" class="btn grey edit-genre-btn darken-4 modal-close">
                                    Cancel
                                </a>
                                <a href="{{ url_for('delete_genre', genre_id=genre._id) }}" class="btn red darken-4">
                                    Delete
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}