{% extends "base.html" %}
{% block content %}
    <!--Game Searchbar-->
    <div class="row card-panel search-bar">
        <h4 id="search-title">Search Games</h4>
        <form action="{{ url_for('games') }}" method="GET" class="col s12">
            <div class="row valign-wrapper center-align">
                <div class="input-field col s12 m7">
                    <i class="fas fa-search prefix grey-text darken-4 left"></i>
                    <input type="text" name="query" id="query" minlength="2" class="validate" required>
                    <label for="query">Search Games</label>
                </div>
                <div class="col s12 m5">
                    <a href="{{ url_for('games') }}" class="red darken-3 btn">Reset</a>
                    <button type="submit" class="btn blue darken-3">
                        <i class="fas fa-search right"></i>Search
                    </button>
                </div>
            </div>
        </form>
    </div>
    <!--game card-->
    <div class="container">   
        <div class="row">
            {% for game in games %}
                <div class="col s12 m6 l4">
                    <div class="card game-card">
                        <a href="{{ url_for('details', game_id=game._id) }}">
                            <div class="card-image game-card-image">
                                {% if game.img_url %}
                                    <img src="{{ game.img_url }}">
                                {% else %}
                                    <img src="{{ url_for('static', filename='images/ps-logo.png') }}">
                                {% endif %}
                            </div>
                            <h6 class="card-title games-card-title">{{ game.game_name }}</h6>
                        </a> 
                        <div class="card-content">
                            <p>
                                <b>Genre:</b> {{ game.genre_name }}<br>
                                <b>Released:</b> {{ game.year }}<br>
                                <b>Developed by:</b> {{ game.developer }}<br>
                                <b>Published by:</b> {{ game.publisher }}<br>
                                <em><b>Added by:</b> {{ game.added_by}}</em>
                            </p>
                        </div>
                        <div class="card-action">
                            <div class="row">
                                <div class="col s12 l4 card-button">
                                    <a href="https://www.amazon.com/s?k=ps1+{{ game.game_name}}"
                                        target="_blank" rel="noopener noreferrer" class="btn-small yellow accent-4">Amazon</a>    
                                </div>
                                {% if session.user|lower == game.added_by|lower %}
                                    <div class="col s6 l4 card-button">
                                        <a href="{{ url_for('edit_game', game_id=game._id ) }}" class="btn-small green accent-4">
                                            Edit
                                        </a>
                                        </div>
                                    <div class="col s6 l4 card-button">
                                        <a href="{{ url_for('delete_game', game_id=game._id ) }}" class="btn-small red accent-4">
                                            Delete
                                        </a>
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div> 
{% endblock %}
