{% extends "base.html" %}
{% block content %}
    <div class="row">
        {% for game in games %}
            <div class="col s12 m6">
                <div class="card">
                    <div class="card-image">
                        {% if game.img_url %}
                            <img src="{{ game.img_url }}">
                            {% else %}
                            <img src="{{ url_for('static', filename='images/ps-logo.png') }}">
                        {% endif %}
                    </div>
                    <span class="card-title blue darken-4 valign-wrapper white-text center-align">{{ game.game_name }}</span>
                    <div class="card-content">
                        <p>
                            Genre: {{ game.genre_name }}<br>
                            Released: {{ game.year }}<br>
                            Developed by: {{ game.developer }}<br>
                            Published by: {{ game.publisher }}<br>
                            Added by: {{ game.added_by}}
                        </p>
                    </div>
                    <div class="card-action">
                        <a href="#">Read more</a>
                    </div>
                </div>
            </div>
        {% endfor %}
   </div>

{% endblock %}
