{% extends "base.html" %}
{% block content %}
    <div class="container games-container">
        <div class="row">
            {% for game in games %}
                <div class="col s12 m6 l4">
                    <div class="card">
                        <div class="card-image">
                            {% if game.img_url %}
                                <img src="{{ game.img_url }}">
                                {% else %}
                                <img src="{{ url_for('static', filename='images/ps-logo.png') }}">
                            {% endif %}
                        </div>
                        <span class="card-title blue darken-4 valign-wrapper white-text center-align">{{ game.game_name }}</span>
                        <div class="card-content">
                            <p>
                                Genre: {{ game.genre_name }}<br>
                                Released: {{ game.year }}<br>
                                Developed by: {{ game.developer }}<br>
                                Published by: {{ game.publisher }}<br>
                                <em>Added by: {{ game.added_by}}</em>
                            </p>
                        </div>
                        <div class="card-action">
                            <a href="#">Read more</a>
                            {% if session.user|lower == game.added_by|lower %}
                                <a href="{{ url_for('edit_game', game_id=game._id ) }}" class="btn-small green accent-4">
                                    Edit
                                </a>
                                <a href="{{ url_for('delete_game', game_id=game._id ) }}" class="btn-small red accent-4">
                                    Delete
                                </a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
