{% extends "base.html" %}
{% block content %}

    <!--hero image-->
    <div class="hero-image-container">
        <img src="static/images/ps-header-image.png" id="hero-image" alt="Playstation Console Image">
    </div>

    <!--recently added-->
    <div class="container">
        <h4 class="category-title">Recently Added</h4>
        <div class="row">
            <!--list games by recently added-->
            {% for game in recents %}
                <div class="col s12 m6 l3">
                    <div class="card game-thumbnail">
                        <a href="{{ url_for('details', game_id=game._id) }}">
                            <div class="card-image thumbnail-image">
                                {% if game.img_url %}
                                    <img src="{{ game.img_url }}">
                                {% else %}
                                    <img src="{{ url_for('static', filename='images/ps-logo.png') }}">
                                {% endif %}
                            </div>
                            <span class="thumbnail-title">{{ game.game_name }}</span>
                        </a>
                    </div>
                </div> 
            {% endfor %}
        </div>
    </div>

    <!--most viewed-->
    <div class="container"> 
        <h4 class="category-title">Most Viewed</h4>  
        <div class="row">
            <!--list games by most viewed-->
            {% for game in views %}
                <div class="col s12 m6 l3">
                    <div class="card game-thumbnail">
                        <a href="{{ url_for('details', game_id=game._id) }}">
                            <div class="card-image thumbnail-image">
                                {% if game.img_url %}
                                    <img src="{{ game.img_url }}">
                                {% else %}
                                    <img src="{{ url_for('static', filename='images/ps-logo.png') }}">
                                {% endif %}
                                <span class="card-title thumbnail-title">{{ game.game_name }}</span>
                            </div>
                        </a>
                    </div>
                </div> 
            {% endfor %}
        </div>
    </div>

    <!--by genre-->
    <div class="container">
        <div class="row">
            <h4 class="category-title">By Genre</h4>
            <!--retrieve games with genre--> 
            {% for genre in genres %}
                <div class="col s6 m4 l3">
                    <a href="{{ url_for('filter_genre', genre_name=genre.genre_name) }}">
                        <div class="card genre-thumbnail grey darken-4">
                            <div class="card-content white-text">
                                <span class="card-title center-align">{{ genre.genre_name }}</span>
                            </div>
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}