{% extends "base.html" %}
{% block content %}

    <div class="row">
        <div class="col s12 m8 offset-m2" method="POST" action="{{ url_for('login') }}">
            <h3 class="center-align category-title">
                {{ username }}'s Profile
            </h3>
        </div>
    </div>
    <div class="container">   
        <div class="row">
            <h4 class="center-align category-title">
                Games added by {{ username }}
            </h4>
            {% for game in games %}
                <div class="col s12 m6 l4">
                    <div class="card game-card container">
                        <a href="{{ url_for('details', game_id=game._id) }}">
                            <div class="card-image game-card-image">
                                {% if game.img_url %}
                                    <img src="{{ game.img_url }}" onerror="this.onerror=null; this.src='../static/images/ps-logo.png'">
                                {% else %}
                                    <img src="{{ url_for('static', filename='images/ps-logo.png') }}">
                                {% endif %}
                            </div>
                            <h6 class="card-title game-card-title">{{ game.game_name }}</h6>
                        </a> 
                        <div class="card-content">
                            <p>
                                <b>Genre:</b> {{ game.genre_name }}<br>
                                <b>Released:</b> {{ game.year }}<br>
                                <b>Developed by:</b> {{ game.developer }}<br>
                                <b>Published by:</b> {{ game.publisher }}<br>
                                <em><b>Added by:</b> {{ game.added_by}}</em>
                            </p>
                        </div>
                        <div class="card-action">
                            <div class="row button-container">
                                <div class="col s12 card-button">
                                    <a href="https://www.amazon.com/s?k=ps1+{{ game.game_name}}"
                                        target="_blank"  class="btn yellow blue-text accent-4">Search on Amazon</a>    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
