{% extends "index.html" %}
{% block thumbnail %}
    <div class="col s12 m6 l4">
        <div class="card game-card">
            <a href="{{ url_for('read_more', game_id=game._id) }}">
                <div class="card-image">
                    {% if game.img_url %}
                        <img src="{{ game.img_url }}">
                    {% else %}
                        <img src="{{ url_for('static', filename='images/ps-logo.png') }}">
                    {% endif %}
                </div>
                <span class="card-title blue darken-4 valign-wrapper white-text">{{ game.game_name }}</span>
            </a> 
        </div>
    </div>
{% endblock %}